*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    padding: 20px;
}

.video{
    width: calc(100vw - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1{
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}